.dashboard {
	color: #fff;
	display: flex;
	flex-direction: row;
}

.dashboard .sidebar {
	background-color: #333333;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 100%;
	position: fixed;
	visibility: hidden;
	margin-top: 50px;
}

.dashboard .sidebar .user-image {
	width: 150px;
	height: 150px;
	margin: 10px 0;
	margin: 25px auto 10px auto;
}

.dashboard .sidebar .user-image img {
	width: 100%;
	border-radius: 50%;
	padding: 3px;
	border: 3px solid #e84e47;
}

.dashboard .sidebar .info {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.dashboard .sidebar .info .name {
	font-size: 18px;
	font-weight: bold;
}

.dashboard .sidebar .info .description {
	font-size: 13px;
}

.dashboard .sidebar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 25px 0;
}

.dashboard .sidebar li {
	font-size: 14px;
	text-transform: uppercase;
	transition: 0.2s;
}

.dashboard .sidebar li.active {
	font-weight: bold;
	background-color: #1b1b1b;
	border-left: 5px solid #e84e47;
}

.dashboard .sidebar li:not(.active):hover {
	background-color: #292929;
	border-left: 5px solid #fff;
}

.dashboard .sidebar li a {
	display: block;
	padding: 10px;
}

.dashboard .dashboard-body {
	width: 100%;
	min-height: 100vh;
	color: #000;
	margin-top: 50px;
}

.dashboard .page-header,
.dashboard .page-footer {
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 0;
	margin: 0 2.5px;
}

.dashboard .menu-button {
	width: 25px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 15px;
	cursor: pointer;
}

.dashboard .menu-button .row {
	flex: 0 1 20%;
	background-color: black;
	transition: 0.2s;
}

.dashboard .menu-button:hover .row {
	background-color: #e84e47;
}

.dashboard .page-title {
	text-transform: uppercase;
}

.dashboard .button {
	text-transform: uppercase;
	font-family: inherit;
	font-weight: bold;
	color: #fff;
	background-color: #000;
	padding: 10px;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}

.dashboard .button:hover {
	background-color: #e84e47;
}

.dashboard .albums {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.dashboard .album {
	flex: 0 1 calc(25% - 5px);
	height: 300px;
	margin: 2.5px;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.dashboard .album a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dashboard .album-header {
	background-color: rgba(0, 0, 0, 0.20);
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.dashboard .album .album-title {
	font-size: 14px;
	text-transform: uppercase;
}

.dashboard .album .album-footer {
	background-color: rgba(0, 0, 0, 0.20);
	font-size: 14px;
	font-weight: lighter;
	padding: 5px;
}

.dashboard .pagination {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.dashboard .pagination li {
	color: #fff;
	margin: 2.5px;
}

.dashboard .pagination li:first-of-type {
	margin: 0 auto 0 0;
}

.dashboard .pagination li:last-of-type {
	margin: 0 0 0 auto;
}

.dashboard .pagination li a {
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	background-color: #000;
	padding: 10px 15px;
	border-radius: 3px;
	transition: 0.2s;
}

.dashboard .pagination li.active a {
	padding: 12px 17px;
	background-color: #e84e47;
}

.dashboard .pagination li:not(.active) a:hover {
	background-color: #e84e47;
}

@media (max-width: 1024px) {
	.dashboard .album {
		flex: 0 1 calc(33.333% - 5px);
	}
}

@media (max-width: 840px) {
	.dashboard .album {
		flex: 0 1 calc(50% - 5px);
	}
}

@media (max-width: 620px) {
	.dashboard .sidebar {
		display: none;
	}

	.dashboard .dashboard-body {
		margin-left: 0;
	}

	.dashboard .album {
		flex: 0 1 calc(100% - 5px);
	}
}