@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.align-left {
	margin-right: auto;
}

.align-right {
	margin-left: auto;
}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Asap Condensed', sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: inherit;
}

.container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: inherit;
	flex-direction: inherit;
	align-items: inherit;
	align-content: inherit;
	justify-content: inherit;
}

.menu {
	width: 100%;
	height: 50px;
	color: #000;
	background-color: #fff;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	border-bottom: 3px solid #e84e47;
}

.menu .logo {
	font-size: 20px;
	font-weight: bold;
	margin-right: 50px;
	text-decoration-line: overline underline;
}

.menu ul {
	width: 100%;
	list-style: none;
	display: flex;
	align-items: center;
}

.menu li {
	font-size: 13px;
	text-transform: uppercase;
	margin-right: 20px;
	transition: 0.2s;
}

.menu li a {
	color: inherit;
	text-decoration: none;
}

.menu li:hover {
	font-weight: bold;
}

.menu li.push {
	margin-left: auto;
}

.menu li.alt {
	font-weight: bold;
	color: #fff;
	background-color: #000;
	border-radius: 3px;
	margin-right: 5px;
}

.menu li.alt:hover {
	background-color: #e84e47;
}

.menu li.alt a {
	display: block;
	padding: 7.5px 10px;
}

.menu li:last-child {
	margin-right: 0;
}

.body {
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

/* Correção da posição da âncora devido ao menu de navegação fixo */
.anchor {
    visibility: hidden;
	position: relative;
    top: -50px;
}

section {
	height: calc(100% - 50px);
}

section .title {
	text-transform: uppercase;
	padding: 20px 0;
}

.background {
	height: calc(100% - 50px);
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.background h1 {
	font-size: 48px;
	color: #fff;
	text-shadow: 1px 1px 1px #4e4e4e;
	text-transform: uppercase;
}

.background h1 span {
	font-size: 64px;
	color: #e84e47;
	text-shadow: 1px 1px 1px #a93e39;
}

.background p {
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 1px 1px #4e4e4e;
}

.backgroundLogin {
	height: calc(100% - 50px);
	background-image: url('../images/backgroundLogin.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login {
	width: 300px;
	height: 250px;
	align-self: center;
}

.backgroundCadastro {
	height: calc(100% - 50px);
	background-image: url('https://mocah.org/thumbs/105262-kata-noi-beach-karon-thailand-best-beaches-of-2016-travellers-choice-awards-2016.jpg');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
 /*estilo do quadrado de cadastro*/
 .cadastro {
	width: 300px;
	height: 380px;
	margin-left: 50px;
}

form input {
	outline: none;
	width: 100%;
	margin-top: 4px;
	padding: 10px;    
	border: none;
	background-color: #C4C4C4;
}
      
  /*estilo do botão submit */
form input.login[type="submit"]{
	height: 9%;
	width: 50%;
	cursor: pointer;  
	background: rgb(0, 129, 11);
	color: #fff;
	font-size: 15px;  
	border: 1px solid #fff;  
	margin-top: 20px; 
	border-radius: 15px;
	margin-left: 25%;
}
   
  /*estilo do botão submit no hover */
form input.login[type="submit"]:hover{
	background: rgba(8, 250, 0, 0.986);
}

form input[type="submit"]{
	width: 100%;
	cursor: pointer;  
	background: #D33232;
	color: #fff;
	font-size: 20px;  
	border: 1px solid #fff;  
	margin-top: 20px; 
	border-radius: 15px;
}
   
  /*estilo do botão submit no hover */
form input[type="submit"]:hover{
	background: rgba(255, 0, 0, 0.986);
}

form input:not([type="submit"]){
	margin-left: 5px;
	width: 96%;
	border-radius: 15px;
}

/*nome dos inputs*/
form h1.nomeInput{
	margin-left: 5px;
	color: #413b01;
	font-size: 15px;
	margin-top: 8;
}

form p.termo {
	font-size: 15px;
	color: #666666;
}

form h1:not(.nomeInput) {
	margin-bottom: 15px;
}