$primary: #e84e47;
$font-size: 13px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
}

html {
    height: calc(100% - 50px);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.align-left {
    margin-right: auto;
}

.align-right {
    margin-left: auto;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;

    &.center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

body {

    .navbar {
        width: 100%;
        height: 50px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px solid $primary;

        .logo {
            font-size: 20px;
            font-weight: bold;
            margin-right: 20px;
        }

        ul.nav-list {
            width: 100%;
            list-style: none;
            display: flex;
            align-items: center;

            li.nav-item {
                font-size: $font-size;
                text-transform: uppercase;
                margin-right: 10px;
                position: relative;
                line-height: 50px;
                vertical-align: middle;
                transition: 0.2s;

                &:hover {
                    color: $primary;
                    
                    .dropdown {
                        display: flex;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                .dropdown {
                    min-width: 150px;
                    background-color: #fff;
                    list-style: none;
                    padding: 0 10px;
                    border-radius: 0 0 3px 3px;
                    border: 1px solid $primary;
                    position: absolute;
                    right: 0;
                    display: none;
                    flex-direction: column;
                    z-index: 1;

                    .dropdown-item {
                        width: 100%;
                        color: #000;
                        font-weight: normal;
                        border-bottom: 1px solid $primary;
                        transition: 0.2s;
                        line-height: initial;

                        &:hover {
                            color: $primary;
                        }

                        &:last-child {
                            border: none;
                        }

                        a {
                            padding: 10px 5px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .content {
        padding: 20px 0;

        &.bg {
            height: calc(100vh - 50px);
            background-image: url('/img/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .header {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 20px;

            .page-title {
                text-transform: uppercase;
                margin-right: 10px;
            }

            .visibility {
                color: #fff;
                font-size: $font-size;
                font-weight: bold;
                text-transform: uppercase;
                background-color: rgb(68, 68, 68);
                padding: 5px 10px;
                border-radius: 3px;

                &.public {
                    background-color: #45c939;
                }

                &.private {
                    background-color: #000;
                }
            }

            button {
                height: 35px;
                color: #fff;
                font-size: $font-size;
                font-weight: bold;
                text-transform: uppercase;
                background-color: #000;
                padding: 10px 15px;
                border-radius: 3px;
                border: none;
                margin-right: 3px;
                outline: none;
                transition: 0.2s;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;

                &:not(.st) i {
                    margin-right: 5px;
                }

                &:first-of-type {
                    margin-left: auto;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover {
                    background-color: $primary;
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            .pagination {
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: center;

                li {
                    color: #fff;
                    font-size: $font-size;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0 2.5px;

                    a {
                        background-color: #000;
                        padding: 10px 15px;
                        border-radius: 3px;
                        transition: 0.2s;
                        display: block;

                        &:hover {
                            background-color: $primary;
                        }
                    }

                    &:first-child {
                        margin: 0 auto 0 0;
                    }

                    &:last-child {
                        margin: 0 0 0 auto;
                    }
                }
            }
        }

        .profile-cover {
            width: 100%;
            height: 300px;
            background-color: #f2f2f2;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

            button {
                color: #fff;
                font-size: $font-size;
                background-color: rgba(#000, .5);
                padding: 10px 15px;
                border: 0;
                border-radius: 3px;
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 5px;

            }
        }
        
        .profile-info {
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            position: relative;

            .profile-picture {
                width: 200px;
                height: 200px;
                overflow: hidden;
                background-color: #f2f2f2;
                margin: 0 10px;
                border-radius: 3px;
                border: 5px solid #fff;
                box-shadow: 0 0 .5px #000;
                position: absolute;
                top: -100px;

                div {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    &:hover {
                        & button {
                            display: block;
                        }
                    }

                    img {
                        width: 100%;
                    }
    
                    button {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        color: #fff;
                        background-color: rgba(#000, .5);
                        padding: 15px;
                        border: none;
                        justify-content: center;
                        cursor: pointer;
                        display: none;
                    }
                }
            }

            .info {
                height: 100px;
                margin-left: 220px;
                display: flex;
                flex-direction: column;

                .user-name {
                    margin: 5px 0;
                }

                .user-description {
                    color: #535353;
                }
            }

            .follow {
                color: #fff;
                font-size: $font-size;
                font-weight: bold;
                text-transform: uppercase;
                background-color: #000;
                padding: 10px 15px;
                border-radius: 3px;
                border: none;
                outline: none;
                transition: 0.2s;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-self: center;
                align-items: center;

                i {
                    margin-right: 5px;
                }

                &:hover {
                    background-color: $primary;
                }
            }
        }

        .profile-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid #c7c7c7;
            margin: 20px 0 10px 0;

            .section-title {
                text-transform: uppercase;
            }

            a {
                color: #000;
                font-size: $font-size;
                font-weight: bold;
                text-transform: uppercase;
                padding: 10px 0;
            }
        }

        .albums {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .album {
                flex: 0 1 calc(25% - 5px);
                height: 0;
                background-color: #f2f2f2;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                padding-top: calc(25% - 5px);
                margin: 2.5px;
                display: flex;
                flex-direction: column-reverse;

                .album-header {
                    background-color: rgb(#000, 50%);
                    padding: 5px;
                    display: flex;
                    flex-direction: row;

                    .name {
                        color: #fff;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .image {
                flex: 0 1 calc(25% - 5px);
                height: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                padding-top: calc(25% - 5px);
                margin: 2.5px;
            }
        }

        .users {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .user {
                flex: 0 1 calc(25% - 5px);
                height: 0;
                padding-top: calc(25% - 5px);
                margin: 2.5px;
                position: relative;

                .user-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 0;

                    .cover {
                        width: 100%;
                        height: 50%;
                        background-color: #f2f2f2;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    .info {
                        width: 100%;
                        height: 50%;
                        background-color: #fff;
                        border-width: 0 1px 1px 1px;
                        border-color: #f2f2f2;
                        border-style: solid;
                        position: relative;

                        .profile-picture {
                            width: 50%;
                            height: 100%;
                            overflow: hidden;
                            background-color: #f2f2f2;
                            border: 5px solid #fff;
                            border-radius: 3px;
                            position: absolute;
                            top: -50%;
                            left: 25%;

                            img {
                                width: 100%;
                            }
                        }

                        .user-name {
                            text-align: center;
                            padding: 5px;
                            margin-top: 25%;
                        }
                    }
                }
            }
        }

        .no-results {
            width: 100%;
            border-radius: 3px;
            padding-top: calc(25% - 5px);
            position: relative;

            div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;

                .title {
                    color: #535353;
                    text-transform: uppercase;
                }
            }
        }

        .image-container {

            /* solução encontrada em https://stackoverflow.com/a/23675095 */
            
            width: 100%;
            height: auto;
            background-color: #000;
            position: relative;
            overflow: hidden;
            padding: 45% 0 0 0;
            display: flex;
            justify-content: center;

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        .image-info {
            width: 100%;
            display: flex;
            flex-direction: column;

            .info-header {
                width: 100%;
                padding: 10px 0;
                display: flex;
                flex-direction: row;
                align-items: center;

                .likes {
                    font-size: 14px;
                }

                button {
                    color: $primary;
                    font-size: $font-size;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    border: 1px solid $primary;
                    border-radius: 3px;
                    margin-right: 3px;
                    cursor: pointer;
                    transition: 0.2s;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &:first-of-type {
                        margin-left: auto;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }

                    &:hover {
                        color: #fff;
                        background-color: $primary;
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }

            .user {
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                align-items: center;

                .profile-picture {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    margin-right: 10px;
                    
                    img {
                        width: 100%;
                        border-radius: 3px;
                    }
                }

                .username {
                    font-weight: bold;
                }
            }

            .description {
                min-height: 250px;
                color: #535353;
            }
        }

        .error-message {
            width: 100%;
            text-align: center;
            color: rgb(167, 167, 167);
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;

            i {
                margin-bottom: 20px;
            }
        }

        .modal-background {
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            background-color: rgba(#000, .75);
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
        }

        .form-container {
            width: 390px;
            background-color: #fff;
            padding: 20px;
            border-radius: 3px;
            position: relative;

            .form-title {
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            form {
                display: flex;
                flex-direction: column;
    
                label {
                    color: #000;
                    font-size: 14px;
                }
                
                input,
                select,
                textarea {
                    outline: none;
                    padding: 7px;
                    border-radius: 3px;
                    border: 1px solid #c7c7c7;
                    background-color: #fff;
                }

                input[type=checkbox] {
                    margin-right: 5px;
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    resize: none;
                }
                
                button {
                    color: $primary;
                    font-size: $font-size;
                    font-weight: bold;
                    text-transform: uppercase;
                    background-color: #fff;
                    padding: 10px 15px;
                    border-radius: 3px;
                    border: 1px solid #e84e47;
                    margin-top: 5px;
                    transition: 0.2s;
                    cursor: pointer;
                    
                    &:hover {
                        color: #fff;
                        background-color: $primary;
                    }
                }
                
                a {
                    color: $primary;
                    font-size: 14px;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
                .row {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
    
                span {
                    font-size: 14px;
    
                    &.error {
                        color: #ff3434;
                        margin-left: auto;
                    }
    
                    &.terms {
                        margin-top: 5px;
                        text-align: center;
                    }
                }
            }

            .close-modal {
                width: 40px;
                height: 40px;
                color: #fff;
                background-color: #e84e47;
                border-radius: 50%;
                border: 3px solid #fff;
                cursor: pointer;
                position: absolute;
                top: -10px;
                right: -10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1024px) {

    body .content .albums .album,
    body .content .images .image,
    body .content .users .user,
    body .content .no-results {
        flex: 0 1 calc(33.3% - 5px);
        padding-top: calc(33.3% - 5px);
    }
}

@media (max-width: 840px) {

    body .content .albums .album,
    body .content .images .image,
    body .content .users .user,
    body .content .no-results {
        flex: 0 1 calc(50% - 5px);
        padding-top: calc(50% - 5px);
    }

    body .content .profile-info .profile-picture {
        left: calc(50% - 110px);
    }

    body .content .profile-info {
        flex-direction: column;
        justify-content: center;
    }

    body .content .profile-info .info {
        width: 100%;
        margin-top: 100px;
        margin-left: 0;
        align-items: center;
    }

    body .content .profile-info button {
        margin-left: 0;
    }
}

@media (max-width: 620px) {
    
    body .content .albums .album,
    body .content .images .image,
    body .content .users .user,
    body .content .no-results {
        flex: 0 1 calc(100% - 5px);
        padding-top: calc(100% - 5px);
    }
}