* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.align-left {
  margin-right: auto;
}

.align-right {
  margin-left: auto;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}

body .navbar {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid #e84e47;
}

body .navbar .logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

body .navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

body .navbar ul li {
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 10px;
  transition: 0.2s;
}

body .navbar ul li.alt {
  margin-right: 5px;
}

body .navbar ul li.alt a {
  color: #fff;
  font-weight: bold;
  background-color: #000;
  padding: 7px 12px;
  border-radius: 3px;
  transition: 0.2s;
  display: block;
}

body .navbar ul li.alt a:hover {
  background-color: #e84e47;
}

body .navbar ul li:not(.alt):hover {
  font-weight: bold;
}

body .navbar ul li:last-child {
  margin-right: 0;
}

body .content {
  height: 100%;
}

body .content .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

body .content .header .page-title {
  text-transform: uppercase;
  margin-right: 10px;
}

body .content .header .visibility {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #444444;
  padding: 5px 10px;
  border-radius: 3px;
}

body .content .header .visibility.public {
  background-color: #45c939;
}

body .content .header .visibility.private {
  background-color: #000;
}

body .content .header button {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

body .content .header button:hover {
  background-color: #e84e47;
}

body .content .footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

body .content .footer .pagination {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body .content .footer .pagination li {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 2.5px;
}

body .content .footer .pagination li a {
  background-color: #000;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.2s;
  display: block;
}

body .content .footer .pagination li a:hover {
  background-color: #e84e47;
}

body .content .footer .pagination li:first-child {
  margin: 0 auto 0 0;
}

body .content .footer .pagination li:last-child {
  margin: 0 0 0 auto;
}

body .content .albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body .content .albums .album {
  flex: 0 1 calc(25% - 5px);
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: calc(25% - 5px);
  margin: 2.5px;
  display: flex;
  flex-direction: column-reverse;
}

body .content .albums .album .album-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  flex-direction: row;
}

body .content .albums .album .album-header .name {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

body .content .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body .content .images .image {
  flex: 0 1 calc(25% - 5px);
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: calc(25% - 5px);
  margin: 2.5px;
}

body .content .error-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a7a7a7;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

body .content form {
  width: 350px;
  display: flex;
  flex-direction: column;
}

body .content form .input-header {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

body .content form .input-header label {
  color: #000;
  font-size: 14px;
}

body .content form .input-header span.error {
  font-size: 14px;
  color: #ff3434;
  margin-left: auto;
}

body .content form input {
  outline: none;
  padding: 7px 5px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
}

body .content form input.error,
body .content form input:required:focus {
  border: 1px solid #ff3434;
  box-shadow: none;
}

body .content form button {
  color: #e84e47;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #e84e47;
  margin-top: 5px;
  transition: 0.2s;
  align-self: flex-end;
}

body .content form button:hover {
  color: #fff;
  background-color: #e84e47;
}

@media (max-width: 1024px) {
  body .content .albums .album,
  body .content .images .image {
    flex: 0 1 calc(33.3% - 5px);
    padding-top: calc(33.3% - 5px);
  }
}

@media (max-width: 840px) {
  body .content .albums .album,
  body .content .images .image {
    flex: 0 1 calc(50% - 5px);
    padding-top: calc(50% - 5px);
  }
}

@media (max-width: 620px) {
  body .content .albums .album,
  body .content .images .image {
    flex: 0 1 calc(100% - 5px);
    padding-top: calc(100% - 5px);
  }
}

